/* ----- FONTS : start ----- */
@font-face {
    font-family: "Galmuri7";
    src: url("resources/font/Galmuri7.ttf") format("truetype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ----- FONTS : end ----- */

/* ----- FRAME : start ----- */
* {
    margin: 0; padding: 0;
    color: rgb(41, 38, 50);
    font-family: 'Galmuri7';
    font-size: 18px;
    text-shadow: -2px 0px rgb(255, 255, 255), 0px 2px rgb(255, 255, 255), 2px 0px rgb(255, 255, 255), 0px -2px rgb(255, 255, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:  linear-gradient(135deg, rgb(240, 192, 192) 25%, transparent 25%), linear-gradient(225deg, rgb(240, 192, 192) 25%, transparent 25%), linear-gradient(45deg, rgb(240, 192, 192) 25%, transparent 25%), linear-gradient(315deg, rgb(240, 192, 192) 25%, #ffffff 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 200px 200px;
    background-repeat: repeat;

    animation: backgroundScroll 50s linear infinite;

    height: max-content;
}

@keyframes backgroundScroll {
	0% {
    background-position: 0 0;
  }
	100% {
    /* pattern bg texture is 1000x1000px */
    background-position:0 -1000px;
  }
}

/* PC */
@media screen and (min-width: 1031px){
.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 800px;
    margin: 10vh 0;
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 800px;
    margin: 5vh 0;
}
}

/* PC */
@media screen and (min-width: 1031px){
.menu {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
}

.menu .menuItem {
    margin: 10px 0;
    width: 100px; height: 100px;
    text-align: center;
    text-decoration-line: none;
}

.menu .selected {
    border: 1px dotted rgb(82, 82, 82);
}

.menu .icon {
    margin: 5px 0px 0px 0px;
    width: 60px; height: auto;
    transition: all 0.5s ease-out;

    image-rendering: pixelated
}
.menu .icon:hover {
    transform: scale(1.1);
}

.menu .iconCaption {
    margin: 0px 0px 5px 0px;
}

/* PC */
@media screen and (min-width: 1031px){
.content {
    flex: 5;
    position: relative;

    min-height: 800px;
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.content {
    position: relative;

    margin-top: 20px;
    min-height: 600px;
}
}
/* ----- FRAME : end ----- */

/* PC */
@media screen and (min-width: 1031px){
/* ----- GAME : start ----- */
.content .storeClover{
    position: absolute;
    bottom: 700px; left: 50%;
    margin-left: -50.4px; /* width의 50% */
    width: 100.8px; height: auto;
    animation : lotate 5s infinite ease-in-out;
    z-index: 3;
}

@keyframes lotate {
	0% {
		transform : rotate(0deg)
	}

	50% {
		transform : rotate(180deg)
	}

	100% {
		transform : rotate(360deg)
	}
}

.content .storeHat{
    position: absolute;
    bottom: 460px; left: 50%;
    margin-left: -258.6px; /* width의 50% */
    width: 517.2px; height: auto;
    z-index: 2;

    image-rendering: pixelated
}

.content .storeFrame{
    position: absolute;
    bottom: 0px; left: 50%;
    margin-left: -229.5px; /* width의 50% */
    width: 459px; height: auto;
    z-index: 1;
    pointer-events: none;

    image-rendering: pixelated
}

.content iframe {
    position: absolute;
    bottom: 10px; left: 50%;
    margin-left: -217px; /* width의 50% */
    width: 434px; height: 465px;
    z-index: 0;

    image-rendering: pixelated
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.content .storeClover{
    position: absolute;
    top: 0px; left: 50%;
    margin-left: -35.28px; /* width의 50% */
    width: 70.56px; height: auto;
    animation : lotate 5s infinite ease-in-out;
    z-index: 3;
}

@keyframes lotate {
	0% {
		transform : rotate(0deg)
	}

	50% {
		transform : rotate(180deg)
	}

	100% {
		transform : rotate(360deg)
	}
}

.content .storeHat{
    position: absolute;
    top: 30px; left: 50%;
    margin-left: -181.02px; /* width의 50% */
    width: 362.04px; height: auto;
    z-index: 2;

    image-rendering: pixelated
}

.content .storeFrame{
    position: absolute;
    top: 232px; left: 50%;
    margin-left: -160.65px; /* width의 50% */
    width: 321.3px; height: auto;
    z-index: 1;
    pointer-events: none;

    image-rendering: pixelated
}

.content iframe {
    position: absolute;
    top: 235px; left: 50%;
    margin-left: -151.9px; /* width의 50% */
    width: 303.8px; height: 330px;
    z-index: 0;

    image-rendering: pixelated
}
}
/* ----- GAME : end ----- */

/* ----- MEDIA : start ----- */
/* PC */
@media screen and (min-width: 1031px){
.barbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.barbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30vh;
}
}

.barbox .title {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* PC */
@media screen and (min-width: 1031px){
.arcExample {
    min-width: 100%; min-height: 200px;
    background-image: url(resources/selfdownload/arc.png);
    background-position-y: 72%;
    background-size: cover;
}
}
/* Mobile */
@media screen and (max-width: 1030px){
.arcExample {
    min-width: 80%; min-height: 200px;
    background-image: url(resources/selfdownload/arc.png);
    background-position-y: 72%;
    background-size: cover;
}
}

.arc {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fdf4f4a6;
}

.wf {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fdf4f4a6;
}

.item {
    margin: 18px 20px;
    width: 95px; height: 110px;
    text-align: center;
}

.item img {
    margin: auto;
    width: auto; height: 80px;

    image-rendering: pixelated
}

.item p {
    margin: 5px 0px;
    font-size: 14px;
    text-decoration-line: none;
}

.item p:hover {
    text-decoration-line: solid;
}
/* ----- MEDIA : end ----- */

/* ----- ALERT : start ----- */
.alertPop {
    display: none;
}
.alertPop.active {
    background: url("resources/image/ui_alert.png") no-repeat;
    display: block;
    position: fixed;
    top: 40vh;
    left: 50%;
    width: 378px; height: 189px;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 10;

    image-rendering: pixelated
}
.alertPop p {
    margin: 47px 80px 13px 80px;
    line-height: 1.3;
}
.alertPop div {
    box-sizing: border-box;
}
.alertPop .btn {
    background: url("resources/image/ui_btn_1.png") no-repeat;
    display: inline-block;
    margin: 0px 5px;
    width: 80px; height: 45px;
    text-decoration: none;
}
.alertPop .btn:hover {
    /* background: url("resources/image/ui_btn_2.png") no-repeat; */
    transform: translateY(2px);
}
.alertPop .btn p {
    margin: 8px 0px;
    padding: 0px;
}
/* ----- ALERT : end ----- */


.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 이벤트 막기 */
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    z-index: -100;
}

.particles .sungjin {
    background: url(resources/selfdownload/arc_s.png) no-repeat;
    background-size: contain;
}
.particles .youngk {
    background: url(resources/selfdownload/arc_y.png) no-repeat;
    background-size: contain;
}
.particles .wonpil {
    background: url(resources/selfdownload/arc_w.png) no-repeat;
    background-size: contain;
}
.particles .dowoon {
    background: url(resources/selfdownload/arc_d.png) no-repeat;
    background-size: contain;
}


.particles div {
  animation: particles 9.5s linear infinite;
  align-self: flex-end;
  width: 100px;
  height: 100px;
  z-index: -100;
  transform: translateY(100%);
  animation: wiggle 1s infinite ease-in-out;~

  &:nth-child(1) { 
    animation-duration: 1s; 
    }
  &:nth-child(2) { 
    animation-duration: 17s; 
    }
  &:nth-child(3) { 
    animation-duration: 8s; 
    }
  &:nth-child(4) { 
    animation-duration: 3s;
    }
  &:nth-child(5) { 
    animation-duration: 11s;
    }
  &:nth-child(6) { 
    animation-duration: 6s;
    }
  &:nth-child(7) { 
    animation-duration: 12s;
    }
  &:nth-child(8) { 
    animation-duration: 18s;
    }
  &:nth-child(9) {
    animation-duration: 2s;
    }
  &:nth-child(10) {
    animation-duration: 8s;
    }
  &:nth-child(11) {
    animation-duration: 10s;
    }
  &:nth-child(12) {
    animation-duration: 2.5s;
    }
}

@keyframes particles { 
  from { transform: translateY(100%) rotate(-50deg) scale(300%)}
  to   { transform: translateY(calc(-100vh + -100%)) rotate(20deg) scale(350%)}
}

  @keyframes wiggle {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-4px); }
  50%  { transform: translateX(4px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}
